<style>
    #content{padding: 20px 30px !important;}
    #content.border{min-height: 768px;box-shadow: 0 0 10px #BDBDBD;border-radius: 5px;padding: 15px 15px 0 15px;}
    #content .table{margin-top: 15px;}
    .alert-info{display:table; width:100%;}
    .control-label{float:left; height:38px; line-height:38px;}
</style>

<br /><br/>
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">

            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li><a class="ajax-link" href="/2016Draw/main/index/"><i class="glyphicon glyphicon-list"></i><span>&nbsp;&nbsp;&nbsp;用户列表</span></a></li>
                <li><a class="ajax-link" href="/2016Draw/main/log/"><i class="glyphicon glyphicon-list"></i><span>&nbsp;&nbsp;&nbsp;中奖纪录</span></a></li>
                <li><a class="ajax-link" href="/2016Draw/main/userlog/"><i class="glyphicon glyphicon-list"></i><span>&nbsp;&nbsp;&nbsp;抽奖次数变更日志</span></a></li>
            </ul>
        </div>
    </div>
</div>