{{ partial("common/header") }}


<div class="main">

    <h2 style="color:#ffbf07; height: 60px; line-height: 60px; padding: 0 0 0 20px; font-size: 18px;">
        中奖历史
    </h2>

    <ul class="history">

        {% for log in list %}
        <li style="width: 65%; padding: 0;">
            <img src="/2016Draw/img/goods/{{log['award_id']}}.jpg" style="width: auto; height: 40px; border-radius: 5px;" >
            <font>{{log['award_name']}}</font>
        </li>
        <li style="width: 30%; padding: 0 5% 0 0;">
            <font>{{log['create_time']}}</font>
        </li>
        {% endfor %}

    </ul>


    <h3 style="padding: 40px 20px;  line-height: 25px; display: table; font-size: 14px; color: #fff; ">
            <strong>领奖方法：</strong><br>
        1、叮咚智能WiFi音箱、友悦宝早教机器人、幼儿画报杂志、《好妈妈胜过好老师》书籍、银河守卫队电影票的领取方式都会在活动结束后以短信形式告知；<br><br>
        2、口袋故事VIP和小牛顿月卡只需要下载“口袋故事”APP后用参与活动的微信登陆，在APP内【我的-订单-VIP】即可查看中奖记录。<br><br>
        3、您可以通过以下方式提交您的收货地址信息，以便工作人员安排奖品发放。
    </h3>

    <h3 style="padding: 0 10px;">
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.appshare.android.ilisten&g_f=991640#opened">下载口袋故事</a></h3>

    <h3 style="padding: 0 10px;">
        <a href="https://jinshuju.net/f/gZ9jpQ">提交收货信息</a></h3>



</div>
<img src="/2016Draw/img/logo1.png" style="width: 100%;">



<script>
    $(function(){
        $('.main').css({'min-height':($(document).height()-40) + 'px'});

    });
</script>










{{ partial("common/footer") }}











